.top-bar {
  width: 100%;
  padding-top: 1rem;
  height: 80px;
  display: flex;
  justify-content: space-around;
  background-color: inherit;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.logo {
  width: 200px;
  height: auto;
}

.space{
  flex: 1 1 auto;
}

@media screen and (width: 812px){
  .logo{width: 16%;}
  .top-bar{padding-top: 0;}
}
