.top-bar {
  width: 100%;
  height: auto;
  background-color: inherit;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.top-bar::after {
  background: inherit; 
  position: absolute;
}

.logo {
  position:relative;
  max-width: 80%;
  height: auto;
  padding-top: 25%;
  padding-left: 30%;
  padding-right: 30%;
}

.space{
  flex: 1 1 auto;
}

@media screen and (width: 812px){
  .logo{width: 40%; padding-top: 10%;}
}