.content{
  max-width: 100%;
  height: 90%;
  z-index: 1;
}

.swiper-wrapper{
    padding-top: 5%;
    height: auto;
    padding-bottom: 5%;
  }
  
  .card{
    background: inherit;
    background-color: #131415;
    opacity: .9;
    color: ivory;
  }
