
.footer{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #FFFF;
    position: fixed;
    bottom: 0;
    -webkit-animation: color-change-2x 20s linear infinite alternate both;
    animation: color-change-2x 4s linear infinite alternate both;
}



@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}
@keyframes color-change-2x {
  0% {
    background: #06207c;
  }
  100% {
    background: #b22cff;
  }
}

.tec{
  padding: 10px;
  width: 200px;
  height: auto;
}

@media only screen and (width: 812px){
  .footer{display: none;}
}

